<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Todo List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="/tasks.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="title">
                <h1>Todo List</h1>
            </div>
            <div class="menu">
                <a href="/">Home</a> |
                <a href="/tasks">Todo List</a> |
                <a href="/tasks/completed">Completed</a>
            </div>
        </nav>

        <div class="content">
            <ul class="list-group">
                <% for(let task of tasks) { %>
                <li class="list-group-item">
                    <h3><%= task.name %></h3>
                    <p class="mb-1"><%= task.info %></p>
                    <form action="/task/destroy/<%= task.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                    <a href="/task/edit/<%= task.id %>">
                        <button type="button" class="btn btn-outline-primary">Edit</button>
                    </a>
                    <form action="/task/complete/<%= task.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-success">Done</button>
                    </form>
                </li>
                <% } %>
                </ul>
            </div>

    </body>
</html>